/*  body {
	margin: 20px;
	background-image: url('/capstone/img/splash-page-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat; 
} 
 */
 
.jumbotron {
	background-image: url('/capstone/img/splash-page-bg-2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 15px #000000;
}

.header {
	margin: 20px 20px 0px 20px;
}

.welcomeHeader{
	margin: 20px 10px 20px 20px;
}

.dashboardOptions {
	margin: 0px 50px;
}

.option {
	position: relative;
	display: inline-block;
	width: 275px;
	height: 250px;
	vertical-align: top;
	padding: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	border-radius: 60px; 
	margin: 20px;
}

.main-box {
	padding: 30px;	
}

.centerpiece {
	width: 350px;
	margin: auto;
}

.noteToUser {
	width: 350px;
	padding: 30px 0px;
	text-align: center;
}

.title {
	position: relative;
	display: inline-block;
}

.nav {
	position: relative;
	display: inline-block;
}

nav li {
	 list-style-type: none;
	 display: inline-block;
	 padding: 0px 20px;
}

#description {
	height: 100px;
	width: 400px;
	padding-bottom: 80px;
	
}


#ingredients, #directions {
	height: 200px;
	width: 400px;
	padding-bottom: 180px;
	
}
